.success{
	background:green;
	color:white;
	padding:10px;
	text-align:center;
}

.error{
	background:red;
	color:white;
	padding:10px;
	text-align:center;
}

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
}

.click:hover{
    cursor:pointer;
}

-webkit-scrollbar{
    background:transparent;
    width:0;
}

input[name="searchTerm"]{
    width:80%;
    outline:none;
    border:none;
    background-color:lightgrey;
    color:black;
    padding:6.5px;

}

.contactSection{
    height:500px;
    width:auto;
}

.contactSection .row .col-md-4{
    height:500px;
    overflow-y:auto;
}

#searchBox{
    padding:10px;
    border-bottom: 2px solid black;
    /*position:fixed;*/
}

.inlineDisplay{
    display:inline;
}

#infoCenter div{
    padding:10px;
}

#infoCenter{
    overflow-y:auto;
    height:450px;
}

.iconAdj{
    margin-right:10px;
}

.contactFoot{
    margin-top:20%;
    background-color:black;
    padding:15px;
}