{%extends 'contact/base.html'%}

{%block content%}
<div class = "w3-bar w3-black fixed-top">
	<button class = "w3-bar-item w3-button" id = "clickContact">Contacts</button>
	<button class = "w3-bar-item w3-button" id = "clickAdd" data-toggle = "modal" data-target = "#addContact" data-backdrop = 'false'>Add +</button>
	<button class = "w3-bar-item w3-button w3-right" id = "clickExtras">Extras</button>
</div>

<div class = "row mt-5">

	<div class = "col-md-8 offset-md-2">
		<div>
			{% if messages %}
			{% for message in messages %}
    			<p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    		{% endfor %}
			{% endif %}
		</div>

		<div class = "contactSection w3-card-2" id = "contact" style = "height:550px;overflow:none">
			<div class = "row">
				<div class = "col-md-4">
					{%if contacts.allContact%}
						{%for item in contacts.allContact%}
							<div class = "w3-panel w3-light-grey p-3 m-3 click" id = "contact{{item.id}}" onclick = "openContact('contact{{item.id}}')" data-phone = "{{item.phone}}" data-address = "{{item.address}}">
								<h5>{{item.first_name}} {{item.last_name}}</h5>
							</div>
						{%endfor%}
					{%else%}
						<p class = "text-danger">You do not have any contacts yet</p>
					{%endif%}
				</div>

				<div class = "col-md-7 w3-light-grey m-3" align = "center">
					<div style = "padding:10px;">
						<h3 id = "contactName"></h3>
						<hr class = "w3-border w3-border-black w3-bottombar">
						<div align = "left">
							<p id = "phone"></p>
							<p id = "address"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class = "modal fade" id = "addContact">
	<div class = "modal-dialog modal-dialog-centered">
		<div class = "modal-content w3-card-4">
			<div class = "modal-header">
				<h4 class = "modal-title">Add New Contact</h4>
				<button type = "button" class = "close" data-dismiss = "modal">&times;</button>
			</div>
			
			<div class = "modal-body">
				<form class = "w3-padding-16 addForm" method = "post" action = "{%url 'contact:addContact'%}">
					{%csrf_token%}
					<input type = "text" name = "first_name" class = "form-control" placeholder = "First Name" required>
					<br>
					<input type = "text" name = "last_name" class = "form-control" placeholder = "Last Name" required>
					<br>
					<input type = "text" name = "address" class = "form-control" placeholder = "Address" required>
					<br>
					<input type = "text" name = "phone" class = "form-control" placeholder = "Phone Number" required>
					<br>
					<button type = "submit" class = "btn btn-block btn-info">Add Contact
					</button>
					</form>
			</div>
		</div>
	</div>
</div>

{%endblock%}

{%block javascript%}
<script>
	function openTab(elemId, className){
		var elements = document.getElementsByClassName(className);

		for (var i =0; i<elements.length; i++){
			elements[i].style.display = 'none'
		}

		document.getElementById(elemId).style.display = 'block'
	}

	function openContact(elemId){
		const element = document.getElementById(elemId);
		const contactName = document.querySelector("#contactName");
		const phone = element.dataset.phone;
		const address = element.dataset.address;
		contactName.textContent = element.textContent
		const phoneDisplay = document.querySelector("#phone");
		const addressDisplay = document.querySelector("#address");
		phoneDisplay.textContent = phone;
		addressDisplay.textContent = address;
	}
</script>

<script>
	$('#clickContact').click(function(){
		openTab('contact', 'contactSection')
	})
	$('#clickExtras').click(function(){
		openTab('extras', 'contactSection');
	})

	$('.addForm').submit(function(event){
		$('.message').css({
			'padding': '10px',
		})
		$('.message').show('fast').fadeOut(2000);

	})
</script>
{%endblock%}